<!DOCTYPE html>
<html lang="fr">
<head>
  <%= render :partial => 'layouts/head' %>
</head>
<body>
<!-- Three column layout begins / Début de la mise en page de trois colonnes -->
<div id="cn-body-inner-3col">
	<!-- Skip header begins / Début du saut de l'en-tête -->
	<div id="cn-skip-head">
	<nav>
		<ul id="cn-tphp">
			<li id="cn-sh-link-1"><a href="#cn-cont">Passer au contenu principal</a></li>
			<li id="cn-sh-link-2"><a href="#cn-nav">Passer à la navigation principale</a></li>
		</ul>
	</nav>
	</div>
	<!-- Skip header ends / Fin du saut de l'en-tête -->

	<!-- Header begins / Début de l'en-tête -->
	<div id="cn-head"><div id="cn-head-inner">
	<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div id="cn-sig"><img src="images/sig-fra.gif" width="372" height="20" alt="Gouvernement du Canada" title="Gouvernement du Canada" /></div>
		<div id="cn-wmms"><img src="images/wmms.gif" width="83" height="20" alt="Symbole du gouvernement du Canada" title="Symbole du gouvernement du Canada" /></div>

		<!-- Banner begins / Début de la bannière -->
		<div id="cn-leaf"></div>
		<div id="cn-banner" role="banner">
			<p id="cn-banner-text">Nom de l'institution</p>
			<p>[www.]siteprimaire-mainsite.gc.ca</p>
		</div>
		<!-- Banner ends / Fin de la bannière -->

		<nav role="navigation">
		 <%= render :partial => 'layouts/cn-cmb' %>

      <!-- Breadcrumb begins / Début du fil d'Ariane -->
			<div id="cn-bcrumb">
				<h2>Fil d'Ariane</h2>
				<ol>
					<li><a rel="up up up" href="#" title="Accueil - Page principale du site Web">Accueil</a>&#160;&#62;</li>
					<li><a rel="up up" href="#">Niveau&#160;1</a>&#160;&#62;</li>
					<li><a rel="up" href="#">Niveau&#160;2</a>&#160;&#62;</li>
					<li>3&#160;colonnes - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW)</li>
				</ol>
			</div>
			<!-- Breadcrumb ends / Fin du fil d'Ariane -->
		</nav>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</header>
	</div></div>
	<!-- Header ends / Fin de l'en-tête -->

	<div id="cn-cols">
	<!-- Main content begins / Début du contenu principal --> 
	<div id="cn-centre-col-gap"></div>
	<div id="cn-centre-col" role="main"><div id="cn-centre-col-inner">
	<section>
		<!-- Content title begins / Début du titre du contenu -->
		<header>
			<h1 id="cn-cont">3&#160;colonnes - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW)</h1>
		</header>
		<!-- Content Title ends / Fin du titre du contenu -->

<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div class="cn-toppage"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
		<section>
			<h2>L'en-tête de niveau&#160;2 (h2)</h2>

			<div class="cn-toppage"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
			<section>
				<h3>L'en-tête de niveau&#160;3 (h3)</h3>

				<div class="cn-toppage"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
				<section>
					<h4>L'en-tête de niveau&#160;4 (h4)</h4>

					<div class="cn-toppage"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
					<section>
						<h5>L'en-tête de niveau&#160;5 (h5)</h5>

						<div class="cn-toppage"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
						<section>
							<h6>L'en-tête de niveau&#160;6 (h6)</h6>

							<p>CONTENU (un mélange de texte et d'images ou de graphiques est prévu)</p>
						</section>
					</section>
				</section>
			</section>
		</section>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</section>
	</div></div>
	<!-- Main content ends / Fin du contenu principal --> 

	<!-- Primary navigation (left column) begins / Début de la navigation principale (colonne gauche) -->
	<div id="cn-left-col-gap"></div>
	<div id="cn-left-col"><div id="cn-left-col-inner">
	<section>
		<h2 id="cn-nav">Navigation principale (colonne gauche)</h2>
		<div class="cn-left-col-default">
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div role="search">
			<section>
				<h3><label for="cn-search">Recherche</label></h3>
				<form action="#" method="post">
				<div id="cn-search-box">
					<input id="cn-search" name="cn-search" type="search" size="18" maxlength="40" /><input id="cn-search-submit" name="cn-search-submit" type="submit" value="Recherche" />
					<a rel="search" href="#">Recherche avancée</a>
				</div>
				</form>
			</section>
		</div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
		<nav role="navigation">
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
			<section>
				<h3>Section&#160;1</h3>
				<ul>
					<li><a href="#">Article&#160;1a</a>
					<ul>
						<li><a href="#">Article&#160;1b</a></li>
						<li><a href="#">Article&#160;2b</a></li>
					</ul>
					</li>
					<li><a href="#">Article&#160;2a</a></li>
					<li><a href="#">Article&#160;3a</a></li>
				</ul>		
			</section>
			<section>
				<h3>Section&#160;2</h3>
				<ul>
					<li><a href="#">Article&#160;1a</a></li>
					<li><a href="#">Article&#160;2a</a></li>
					<li><a href="#">Article&#160;3a</a></li>
				</ul>
			</section>
			<section>
				<h3 id="cn-pd-link">Divulgation proactive</h3>
				<!-- Proactive Disclosure link begins / Début du lien intitulé divulgation proactive -->
				<ul id="cn-pd-ul">
					<li><a href="#">Divulgation proactive</a></li>
				</ul>
				<!-- Proactive Disclosure link ends / Fin du lien intitulé divulgation proactive -->
			</section>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
		</nav>
		</div>
	</section>
	</div></div>
	<!-- Primary navigation (left column) ends / Fin de la navigation principale (colonne gauche) -->

	<!-- Supplemental content (right column) begins / Début du contenu supplémentaire (colonne droite) -->
	<div id="cn-right-col-gap"></div>
	<div id="cn-right-col" role="complementary"><div id="cn-right-col-inner">
	<section>
		<h2>Contenu supplémentaire (colonne droite)</h2>
		<div class="cn-right-col-default">
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<nav role="navigation">
			<h3>Section&#160;1</h3>
			<div>
				<ul>
					<li><a href="#">Article&#160;1a</a>
					<ul>
						<li><a href="#">Article&#160;1b</a></li>
						<li><a href="#">Article&#160;2b</a></li>
					</ul>
					</li>
					<li><a href="#">Article&#160;2a</a></li>
					<li><a href="#">Article&#160;3a</a></li>
				</ul>	
			</div>
		</nav>
		<section>
			<h3>Section&#160;2</h3>
			<div>
				<p>Contenu de la section&#160;2</p>
			</div>
		</section>
		<section>
			<h3>Section&#160;3</h3>
			<div>
				<p>Contenu de la section&#160;3</p>
			</div>
		</section>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
		</div>
	</section>
	</div></div>
	<!-- Supplemental content (right column) ends / Fin du contenu supplémentaire (colonne droite) -->
	</div>

	<!-- Footer begins / Début du pied de page --> 
	<div id="cn-foot"><div id="cn-foot-inner">
	<footer>
		<h2>Pied de page</h2>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div id="cn-in-pd">			
			<dl id="cn-doc-dates" role="contentinfo">
				<dt>Date de modification&#160;:</dt>
				<dd><span><time>2010-08-09</time></span></dd>
			</dl>
			<div id="cn-toppage-foot"><a href="#cn-tphp" title="Retourner au haut de la page">Haut de la page</a></div>
			<div id="cn-in-pd-links">
				<ul>
					<li id="cn-inotices-link"><a href="#" rel="license">Avis importants</a></li>
				</ul>
			</div>
		</div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</footer>
	</div></div>
	<!-- Footer ends / Fin du pied de page -->
</div>
<!-- Three column layout ends / Fin de la mis en page de trois colonnes -->
</body>
</html>
