	<!-- Skip header begins / Début du saut de l'en-tête -->
	<div id="cn-skip-head">
		<ul id="cn-tphp">
			<li id="cn-sh-link-1"><a href="#cn-cont">Skip to main content</a></li>
			<li id="cn-sh-link-2"><a href="#cn-nav">Skip to footer</a></li>
		</ul>
	</div>
	<!-- Skip header ends / Fin du saut de l'en-tête -->

