<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="utf-8" />
	<link rel="schema.dcterms" href="http://purl.org/dc/terms/" />

	<!-- Web Experience Toolkit (WET) / Boîte à outils de l'expérience Web (BOEW)
	Terms and conditions of use: http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Terms
	Conditions régissant l'utilisation : http://tbs-sct.ircan.gc.ca/projects/gcwwwtemplates/wiki/Conditions
	-->

	<!-- Title begins / Début du titre -->
	<title>Titre du message - Page de message du serveur (fra-eng) - Thème NSI 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW) / Message title - Server message page (fra-eng) - CLF 2.0 Theme - HTML5 - Web Experience Toolkit (WET)</title>
	<!-- Title ends / Fin du titre -->
	
	<!-- Favicon (optional) begins / Début du favicon (optionnel) -->
	<!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
	<!-- Favicon (optional) ends / Find du favicon (optionnel) -->

	<!-- Meta-data begins / Début des métadonnées -->
	<meta name="robots" content="none" />
	<meta name="dcterms.title" content="French title / Titre en français" />
	<meta name="dcterms.title" lang="en" content="English title / Titre en anglais" />
	<meta name="dcterms.language" title="ISO639-2" content="fra" />
	<meta name="dcterms.language" lang="en" title="ISO639-2" content="eng" />
	<!-- Meta-data ends / Fin des métadonnées -->

	<!-- WET scripts/CSS begin / Début des scripts/CSS de la BOEW --><!--[if IE 6]><![endif]-->
	<link href="../css/base.css" rel="stylesheet" type="text/css" />
	<!--[if IE 8]><link href="../css/base-ie8.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if IE 7]><link href="../css/base-ie7.css" rel="stylesheet" type="text/css" /><![endif]-->
	<!--[if lte IE 6]><link href="../css/base-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
	<link href="../css/util.css" rel="stylesheet" type="text/css" />
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
	<link href="css/servpage-theme-clf2-nsi2.css" rel="stylesheet" type="text/css" />
	<!--[if lte IE 6]><link href="css/servpage-theme-clf2-nsi2-ie6.css" rel="stylesheet" type="text/css" /><![endif]-->
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	<!-- WET scripts/CSS end / Fin des scripts/CSS de la BOEW -->

	<!-- Progressive enhancement begins / Début de l'amélioration progressive -->
	<script src="../js/lib/jquery.min.js" type="text/javascript"></script>
	<script src="../js/pe-ap.js" type="text/javascript" id="progressive"></script>
	<script type="text/javascript">
	/* <![CDATA[ */
		var params = {
		};
		PE.progress(params);
	/* ]]> */
	</script>
	<!-- Progressive enhancement ends / Fin de l'amélioration progressive -->

	<!-- Custom scripts/CSS begin / Début des scripts/CSS personnalisés -->
	<!-- Custom scripts/CSS end / Fin des scripts/CSS personnalisés -->

	<!-- WET print CSS begins / Début du CSS de la BOEW pour l'impression -->
	<link href="../css/pf-if.css" rel="stylesheet" media="print" type="text/css" />
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
	<link href="css/pf-if-theme-clf2-nsi2.css" rel="stylesheet" media="print" type="text/css" />
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	<!-- WET print CSS ends / Fin du CSS de la BOEW pour l'impression -->
</head>
<body>
<!-- One column layout begins / Début de la mise en page d'une colonne -->
<div id="cn-body-inner-1col">
	<!-- Skip header begins / Début du saut de l'en-tête -->
	<div id="cn-skip-head">
	<nav>
		<ul id="cn-tphp">
			<li id="cn-sh-link-1"><a href="#cn-cont">Passer au contenu principal / <span lang="en">Skip to main content</span></a></li>
			<li id="cn-sh-link-2"><a href="#cn-nav">Passer au pied de page / <span lang="en">Skip to footer</span></a></li>
		</ul>
	</nav>
	</div>
	<!-- Skip header ends / Fin du saut de l'en-tête -->

	<!-- Header begins / Début de l'en-tête -->
	<div id="cn-head"><div id="cn-head-inner">
	<header>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div id="cn-sig"><img src="images/sig-fra.gif" width="372" height="20" alt="Gouvernement du Canada / Government of Canada" title="Gouvernement du Canada / Government of Canada" /></div>
		<div id="cn-wmms"><img src="images/wmms.gif" width="83" height="20" alt="Symbole du gouvernement du Canada / Symbol of the Government of Canada" title="Symbole du gouvernement du Canada / Symbol of the Government of Canada" /></div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</header>
	</div></div>
	<!-- Header ends / Fin de l'en-tête -->

	<div id="cn-cols">
	<!-- Main content begins / Début du contenu principal --> 
	<div id="cn-centre-col" role="main"><div id="cn-centre-col-inner">
	<section>
		<!-- Content title begins / Début du titre du contenu -->
		<header>
			<h1 id="cn-cont">Titre du message (h1) - Page de message du serveur (fra-eng) - Thème <abbr title="Normalisation des sites Internet">NSI</abbr> 2.0 - HTML5 - Boîte à outils de l'expérience Web (BOEW) / Message title (h1) - <span lang="en">Server message page (fra-eng) - <abbr title="Common Look and Feel">CLF</abbr> 2.0 Theme - HTML5 - Web Experience Toolkit (WET)</span></h1>
		</header>
		<!-- Content Title ends / Fin du titre du contenu -->

<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<!-- French message begins / Début du message en français -->
		<div id="cn-left-msg">
		<section>
			<h2>Titre du message (h2)</h2>
			<p>Message message message message message message message message message message message message message message message message message message message message.</p>
		</section>
		</div>
		<!-- French message ends / Fin du message en français -->

		<!-- English message begins / Début du message en anglais -->
		<div id="cn-right-msg" lang="en">
		<section>
			<h2>Message title (h2)</h2>
			<p>Message message message message message message message message message message message message message message message message message message message message.</p>
		</section>
		</div>
		<!-- English message ends / Fin du message en anglais -->
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</section>
	</div></div>
	<!-- Main content ends / Fin du contenu principal -->
	</div>

	<!-- Footer begins / Début du pied de page -->
	<div id="cn-foot"><div id="cn-foot-inner">
	<footer>
		<h2 id="cn-nav">Pied de page</h2>
<!-- clf2-nsi2 theme begins / Début du thème clf2-nsi2 -->
		<div id="cn-in-pd">
			<ul>
				<li id="cn-inotices-link-left"><a href="#" rel="license">Avis importants</a></li>
				<li id="cn-inotices-link-right" lang="en"><a href="#" rel="license">Important Notices</a></li>
			</ul>
		</div>
<!-- clf2-nsi2 theme ends / Fin du thème clf2-nsi2 -->
	</footer>
	</div></div>
	<!-- Footer ends / Fin du pied de page -->
</div>
<!-- One column layout ends / Fin de la mis en page d'une colonne -->
</body>
</html>